version: "3.9"

services:
  db:
    image: postgres:latest
    container_name: vacation_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  web:
    build: .
    working_dir: /app
    environment:
      - PYTHONPATH=/app
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
      - DB_HOST=db
      - DB_PORT=${POSTGRES_PORT}
    container_name: vacation_web
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
      - ./migrations:/app/migrations
      - ./entrypoint.sh:/app/entrypoint.sh

  tests:
    build: .
    entrypoint: /app/entrypoint-tests.sh
    command: pytest -q /app/tests
    environment:
      DATABASE_URL: "sqlite:///:memory:"
      JWT_SECRET_KEY: "test-secret-key"
      PYTHONPATH: "/app"
    volumes:
      - ./:/app

    restart: "no"


volumes:
  db_data:
  pgadmin_data:
